.flex-row{
    display: flex;
}
.flex-colum{
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
}
header{
    background-color: #535151;
}
.header_nav{
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    flex-wrap: wrap;
    position: relative;
}
.header_img{
    width: 100px;
}
.header_ul{
    position: absolute;
    left: 30%;
    gap: 25px;
}
header a{
    transition: all .5s ease-in;
}
header a:hover{
    font-size: 19px;
    color: #67A0C1;
    font-weight: bold;
}
.header_carrito{
    position: absolute;
    width: 55px;
    right: 10%;
}

.listContainer{
    margin-top: 30px;
    text-align: center;
}

.ItemCount{
    margin: 40px 0;
}
.ItemCount p{
    margin: 15px 0;
}
.ItemCount img{
    width: 250px;
}
.ItemCount i{
    cursor: pointer;;
}
.ItemCount span{
    margin: 0 10px;
}
.ItemCount button{
    margin: 15px 0;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}
.ItemList{
    gap: 50px;
    justify-content: center;
}
.Item{
    margin: 40px 0;
}
.Item img{
    width: 250px;
}